<div class="col-md-5">
    <h2>Calories & Macronutrients</h2>
    <div ng-show="vm.noEntries">
        <center>
            <div id="circle"></div>
        </center>
    </div>
    <div ng-show="!vm.noEntries">
        <canvas id="doughnut" class="chart chart-pie"
                chart-data="vm.data" chart-labels="vm.chartLabels" chart-colours="vm.colours" chart-options="vm.options"></canvas>
    </div>
    <div id="macroTable">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Calorie Goal</td>
                    <td>Consumed</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ vm.profileMacros.calorieGoal | number}}</td>
                    <td ng-class="{ green : vm.consumed.calories <= vm.profileMacros.calorieGoal, red : vm.consumed.calories > vm.profileMacros.calorieGoal }">
                        {{ vm.consumed.calories | number}}
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Macros</td>
                    <td>Goal</td>
                    <td>Consumed</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Carbohydrates</td>
                    <td>{{ vm.profileMacros.carbGoal | number}}g</td>
                    <td ng-class="{ green : vm.consumed.carbGrams <= vm.profileMacros.carbGoal, red : vm.consumed.carbGrams > vm.profileMacros.carbGoal }">
                        {{ vm.consumed.carbGrams | number}}g
                    </td>
                </tr>
                <tr>
                    <td>Protein</td>
                    <td>{{ vm.profileMacros.proteinGoal | number}}g</td>
                    <td ng-class="{ green : vm.consumed.proteinGrams <= vm.profileMacros.proteinGoal, red : vm.consumed.proteinGrams > vm.profileMacros.proteinGoal }">
                        {{ vm.consumed.proteinGrams | number}}g
                    </td>
                </tr>
                <tr>
                    <td>Fat</td>
                    <td>{{ vm.profileMacros.fatGoal | number}}g</td>
                    <td ng-class="{ green : vm.consumed.fatGrams <= vm.profileMacros.fatGoal, red : vm.consumed.fatGrams > vm.profileMacros.fatGoal }">
                        {{ vm.consumed.fatGrams | number}}g
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>