<!DOCTYPE html>
<html>

<head>
    <title>LossTracker - @ViewBag.title</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/lib/bootswatch/superhero/bootstrap.min.css"/>
    <link rel="stylesheet" href="//mgcrea.github.io/angular-strap/styles/libs.min.css" />
    <link rel="stylesheet" href="~/lib/angular-motion/dist/angular-motion.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/angular.chartjs/0.8.8/angular-chart.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="~/img/favicon.ico" type="image/ico" />
</head>

<body>
    <div id="sidebar">
        @if (User.Identity.IsAuthenticated)
        {
            <img src="~/img/robert.jpg" alt="headshot" class="headshot" />
            <span id="username">@User.Identity.Name</span>
        }
        <ul class="nav">
            <li class="active"><a asp-controller="App" asp-action="Index">Home</a></li>
            @if (User.Identity.IsAuthenticated)
            {
                <li><a asp-controller="App" asp-action="Entries">Food Diary</a></li>
                <li><a asp-controller="App" asp-action="Progress">Progress</a></li>
                <li><a asp-controller="App" asp-action="Profile">Profile</a></li>
                <li><a asp-controller="Auth" asp-action="Logout">Logout</a></li>
            }
        </ul>
    </div>

    <div id="wrapper">

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <button id="sidebar_toggle" class="btn btn-primary btn-sm">
                            <i class="fa fa-angle-left"></i>
                        </button>
                    </li>
                </ul>
                <a asp-controller="App" asp-action="Index" class="navbar-brand">LossTracker</a>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="https://github.com/ottoliar" class="btn btn-sm btn-info">
                            <i class="fa fa-github-alt"></i> GitHub
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="main" class="container-fluid">
            <div>
                @RenderBody()
            </div>
        </div>

        <div id="footer" class="container-fluid">
            <div class="navbar navbar-inverse navbar-fixed-bottom">
                <h6 class="text-center text-info">&copy; 2015 Robert Ottolia</h6>
                <h6 class="text-center text-info"><a href="https://github.com/ottoliar/losstracker">Source Code</a></h6>
            </div>
        </div>

    </div>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>

    @RenderSection("Scripts", false)

</body>

</html>