@{
    ViewBag.Title = "Food Diary";
}
@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/js/simpleControls.js"></script>
    <script src="~/js/appDiaryInit.js"></script>
    <script src="~/js/diaryTrackerService.js"></script>
    <script src="~/js/searchController.js"></script>
    <script src="~/js/macroController.js"></script>
    <script src="~/lib/Chart.js/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/angular.chartjs/0.8.8/angular-chart.min.js"></script>
}

<div class="row" ng-app="appDiary">
    <div class="col-md-6">
        <h2>Food Search</h2>
        <div ng-controller="FoodSearchCtrl">
            <input ng-model="search" ng-model-options="{ debounce: 500 }" onclick="select()" class="form-control" type="text" placeholder="Search Food..."/>
            <span id="searchbar" class="fa fa-search"></span>
            <table class="table table-responsive table-striped">
                <tr>
                    <wait-cursor ng-show="searchIsBusy"></wait-cursor>
                </tr>
                <tr ng-repeat="food in searchResults">
                    <td class="hideId">{{ food.id }}</td>
                    <td>{{ food.description }}</td>
                    <td>
                        <i>Calories: </i> {{ food.calories }}
                    </td>
                    <td>
                        <i>Protein: </i> {{ food.proteinGrams }}g
                    </td>
                    <td>
                        <i>Carbohydrates: </i> {{ food.carbGrams }}g
                    </td>
                    <td>
                        <i>Fat: </i> {{ food.fatGrams }}g
                    </td>
                    <td>
                        <button type="button" class="btn btn-success btn-xs" ng-click="addDiaryEntry(food.id)">
                            Add
                        </button>
                    </td>
                </tr>
                <tr ng-show="noResultFound">
                    <td>
                        <h3>
                            No foods found. Create a new food?
                        </h3>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary btn-lg">
                            Create
                        </button>
                    </td>
                </tr>
            </table>

            <h2>{{ today }}</h2>       
            <h3>{{ error }}</h3>
            <h4>Breakfast</h4>
            <wait-cursor ng-show="loadIsBusy"></wait-cursor>
            <table class="table table-responsive table-striped">
                <tr>
                    <th ng-click="setMeal(1)">
                        <a href="#" style="text-decoration:none;">Add <i class="fa fa-plus"></i></a>
                    </th>
                </tr>
            </table>

            <h4>Lunch</h4>
            <wait-cursor ng-show="loadIsBusy"></wait-cursor>
            <table class="table table-responsive table-striped">
                <tr>
                    <th ng-click="setMeal(2)">
                        <a href="#" style="text-decoration:none;">Add <i class="fa fa-plus"></i></a>
                    </th>
                </tr>
            </table>

            <h4>Dinner</h4>
            <wait-cursor ng-show="loadIsBusy"></wait-cursor>
            <table class="table table-responsive table-striped">
                <tr>
                    <th ng-click="setMeal(3)">
                        <a href="#" style="text-decoration:none;">Add <i class="fa fa-plus"></i></a>
                    </th>
                </tr>
            </table>

            <h4>Snacks</h4>
            <wait-cursor ng-show="loadIsBusy"></wait-cursor>
            <table class="table table-responsive table-striped">
                <tr>
                    <th ng-click="setMeal(4)">
                        <a href="#" style="text-decoration:none;">Add <i class="fa fa-plus"></i></a>
                    </th>
                </tr>
            </table>

        </div>

    </div>

    <div class="col-md-5">
        <div id="macro" ng-controller="MacroController">

            <h2>Calories & Macronutrients</h2>

            <canvas id="doughnut" class="chart chart-pie"
                    chart-data="data" chart-labels="labels" chart-colours="colours"></canvas> 

            <div id="macroTable">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Calorie Goal</td>
                            <td>Consumed</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ profileMacros.calorieGoal }}</td>
                            <td>{{ consumed.calories }}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Macros</td>
                            <td>Goal</td>
                            <td>Consumed</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Carbohydrates</td>
                            <td>{{ profileMacros.carbGoal }}g</td>
                            <td>{{ consumed.carbGrams }}g</td>
                        </tr>
                        <tr>
                            <td>Protein</td>
                            <td>{{ profileMacros.proteinGoal }}g</td>
                            <td>{{ consumed.proteinGrams }}g</td>
                        </tr>
                        <tr>
                            <td>Fat</td>
                            <td>{{ profileMacros.fatGoal }}g</td>
                            <td>{{ consumed.fatGrams }}g</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>
