@{
    ViewBag.Title = "Food Diary";
}
@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/js/simpleControls.js"></script>
    <script src="~/js/appDiary.js"></script>
    <script src="~/js/diaryTrackerService.js"></script>
    <script src="~/js/entryController.js"></script>
    <script src="~/js/macroController.js"></script>
    <script src="~/lib/Chart.js/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/angular.chartjs/0.8.8/angular-chart.min.js"></script>
}

<div class="row" ng-app="appDiary">
    <div class="col-md-6">
        <h2>Food Search</h2>
        <div ng-controller="entryController as vm">
            <input ng-model="search" ng-model-options="{ debounce: 500 }" onclick="select()" class="form-control" type="text" placeholder="Search Food..."/>
            <span id="searchbar" class="fa fa-search"></span>
            <table class="table table-responsive table-striped">
                <tr>
                    <wait-cursor ng-show="vm.searchIsBusy"></wait-cursor>
                </tr>
                <tr ng-repeat="food in vm.searchResults">
                    <td class="hideId">{{ food.id }}</td>
                    <td>{{ food.description }}</td>
                    <td>
                        <i>Calories: </i> {{ food.calories | number}}
                    </td>
                    <td>
                        <i>Protein: </i> {{ food.proteinGrams | number}}g
                    </td>
                    <td>
                        <i>Carbohydrates: </i> {{ food.carbGrams | number}}g
                    </td>
                    <td>
                        <i>Fat: </i> {{ food.fatGrams | number}}g
                    </td>
                    <td>
                        <button type="button" class="btn btn-success btn-xs" ng-click="vm.addDiaryEntry(food.id, 1)">
                            Add
                        </button>
                    </td>
                </tr>
                <tr ng-show="vm.noResultFound">
                    <td>
                        <h3>
                            No foods found. Create a new food?
                        </h3>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary btn-lg">
                            Create
                        </button>
                    </td>
                </tr>
            </table>

            <h2>{{ vm.today }}</h2>       
            <h3 ng-show="vm.error">{{ vm.error }}</h3>
       
            <h4 class="meal">Breakfast</h4>
            <wait-cursor ng-show="vm.loadIsBusy"></wait-cursor>
            <table class="table table-responsive table-hover">
                <tr ng-repeat="entry in vm.breakfast">
                    <td class="hideId">{{ entry.id }}</td>
                    <td>{{ entry.food.description }}</td>
                    <td>
                        <i>Servings: </i> {{ entry.numberOfServings | number }}
                    </td>
                    <td>
                        <i>Calories: </i> {{ entry.food.calories | number }}
                    </td>
                    <td>
                        <i>Protein: </i> {{ entry.food.proteinGrams | number }}g
                    </td>
                    <td>
                        <i>Carbohydrates: </i> {{ entry.food.carbGrams | number }}g
                    </td>
                    <td>
                        <i>Fat: </i> {{ entry.food.fatGrams | number }}g
                    </td>
                    <td>
                        <button class="btn btn-success btn-xs" ng-click="vm.editEntry(entry)">Edit</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="7">
                        <a ng-click="vm.setMeal(1)" href="#" style="color: mediumseagreen; text-decoration:none;">
                            Add <i class="fa fa-plus"></i>
                        </a>
                    </td>
                </tr>
            </table>

            <h4 class="meal">Lunch</h4>
            <wait-cursor ng-show="vm.loadIsBusy"></wait-cursor>
            <table class="table table-responsive table-hover">
                <tr ng-repeat="entry in vm.lunch">
                    <td class="hideId">{{ entry.id }}</td>
                    <td>{{ entry.food.description }}</td>
                    <td>
                        <i>Servings: </i> {{ entry.numberOfServings | number }}
                    </td>
                    <td>
                        <i>Calories: </i> {{ entry.food.calories | number }}
                    </td>
                    <td>
                        <i>Protein: </i> {{ entry.food.proteinGrams | number }}g
                    </td>
                    <td>
                        <i>Carbohydrates: </i> {{ entry.food.carbGrams | number }}g
                    </td>
                    <td>
                        <i>Fat: </i> {{ entry.food.fatGrams | number }}g
                    </td>
                    <td>
                        <button class="btn btn-success btn-xs" ng-click="vm.editEntry(entry)">Edit</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="7">
                        <a ng-click="vm.setMeal(2)" href="#" style="color: mediumseagreen; text-decoration:none;">
                            Add <i class="fa fa-plus"></i>
                        </a>
                    </td>
                </tr>
            </table>

            <h4 class="meal">Dinner</h4>
            <wait-cursor ng-show="vm.loadIsBusy"></wait-cursor>
            <table class="table table-responsive table-hover">
                <tr ng-repeat="entry in vm.dinner">
                    <td class="hideId">{{ entry.id }}</td>
                    <td>{{ entry.food.description }}</td>
                    <td>
                        <i>Servings: </i> {{ entry.numberOfServings | number }}
                    </td>
                    <td>
                        <i>Calories: </i> {{ entry.food.calories | number }}
                    </td>
                    <td>
                        <i>Protein: </i> {{ entry.food.proteinGrams | number }}g
                    </td>
                    <td>
                        <i>Carbohydrates: </i> {{ entry.food.carbGrams | number }}g
                    </td>
                    <td>
                        <i>Fat: </i> {{ entry.food.fatGrams | number }}g
                    </td>
                    <td>
                        <button class="btn btn-success btn-xs" ng-click="vm.editEntry(entry)">Edit</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="7">
                        <a ng-click="vm.setMeal(3)" href="#" style="color: mediumseagreen; text-decoration:none;">
                            Add <i class="fa fa-plus"></i>
                        </a>
                    </td>
                </tr>
            </table>

            <h4 class="meal">Snacks</h4>
            <wait-cursor ng-show="vm.loadIsBusy"></wait-cursor>
            <table class="table table-responsive table-hover">
                <tr ng-repeat="entry in vm.snacks">
                    <td class="hideId">{{ entry.id }}</td>
                    <td>{{ entry.food.description }}</td>
                    <td>
                        <i>Servings: </i> {{ entry.numberOfServings | number}}
                    </td>
                    <td>
                        <i>Calories: </i> {{ entry.food.calories | number }}
                    </td>
                    <td>
                        <i>Protein: </i> {{ entry.food.proteinGrams | number }}g
                    </td>
                    <td>
                        <i>Carbohydrates: </i> {{ entry.food.carbGrams | number }}g
                    </td>
                    <td>
                        <i>Fat: </i> {{ entry.food.fatGrams | number }}g
                    </td>
                    <td>
                        <button class="btn btn-success btn-xs" ng-click="vm.editEntry(entry)">Edit</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="7">
                        <a ng-click="vm.setMeal(4)" href="#" style="color: mediumseagreen; text-decoration:none;">
                            Add <i class="fa fa-plus"></i>
                        </a>
                    </td>
                </tr>
            </table>

            <form ng-show="vm.currentEntry" novalidate name="editEntryForm" ng-submit="vm.postEdit(vm.currentEntry.id)">
                <div>
                    <h3>Food: {{ vm.currentEntry.food.description }}</h3>
                </div>
                <div class="form-group">
                    <label>Servings</label>
                    <input class="form-control" id="servings" name="servings" type="number" value="{{ vm.currentEntry.numberOfServings }}"
                           ng-model="vm.currentEntry.numberOfServings" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required  />
                    <span class="text-danger" ng-show="editEntryForm.servings.$error.pattern">Must have >0 serving(s).</span>
                </div>
                <div>
                    <h4>Calories: {{ vm.currentEntry.food.calories * vm.currentEntry.numberOfServings | number}}</h4>
                    <h4>Carbohydrates: {{ vm.currentEntry.food.carbGrams * vm.currentEntry.numberOfServings | number }}g</h4>
                    <h4>Protein: {{ vm.currentEntry.food.proteinGrams * vm.currentEntry.numberOfServings | number }}g</h4>
                    <h4>Fat: {{ vm.currentEntry.food.fatGrams * vm.currentEntry.numberOfServings | number }}</h4>
                </div>
                <div>
                    <input type="submit" value="Save" class="btn btn-success" ng-disabled="editEntryForm.$invalid" />
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-5">
        <div id="macro" ng-controller="macroController as vm">
            <h2>Calories & Macronutrients</h2>
            <div ng-show="vm.noEntries">
                <center>
                    <div id="circle"></div>
                </center>
            </div>
            <div ng-show="!vm.noEntries">
                <canvas id="doughnut" class="chart chart-pie"
                    chart-data="data" chart-labels="labels" chart-colours="colours" chart-options="options"></canvas> 
            </div>
            <div id="macroTable">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Calorie Goal</td>
                            <td>Consumed</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ vm.profileMacros.calorieGoal | number}}</td>
                            <td>{{ vm.consumed.calories | number}}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Macros</td>
                            <td>Goal</td>
                            <td>Consumed</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Carbohydrates</td>
                            <td>{{ vm.profileMacros.carbGoal | number}}g</td>
                            <td>{{ vm.consumed.carbGrams | number}}g</td>
                        </tr>
                        <tr>
                            <td>Protein</td>
                            <td>{{ vm.profileMacros.proteinGoal | number}}g</td>
                            <td>{{ vm.consumed.proteinGrams | number}}g</td>
                        </tr>
                        <tr>
                            <td>Fat</td>
                            <td>{{ vm.profileMacros.fatGoal | number}}g</td>
                            <td>{{ vm.consumed.fatGrams | number}}g</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>
