@{
    ViewBag.Title = "Food Diary";
}
@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-animate/angular-animate.min.js"></script>
    <script src="~/lib/angular-strap/dist/angular-strap.min.js"></script>
    <script src="~/lib/angular-strap/dist/angular-strap.tpl.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <environment names="Development">
        <script src="~/js/simpleControls.js"></script>
        <script src="~/js/Entries/entry.js"></script>
        <script src="~/js/Entries/macro.js"></script>
        <script src="~/js/Entries/appDiary.js"></script>
        <script src="~/js/Entries/diaryTrackerService.js"></script>
        <script src="~/js/Entries/addController.js"></script>
        <script src="~/js/Entries/entryController.js"></script>
        <script src="~/js/Entries/entryEditorController.js"></script>
        <script src="~/js/Entries/macroController.js"></script>
        <script src="~/js/Entries/createController.js"></script>
    </environment>
    <environment names="Production,Staging">
        <script src="~/lib/_app/simpleControls.js"></script>
        <script src="~/lib/_app/Entries/entry.js"></script>
        <script src="~/lib/_app/Entries/macro.js"></script>
        <script src="~/lib/_app/Entries/appDiary.js"></script>
        <script src="~/lib/_app/Entries/diaryTrackerService.js"></script>
        <script src="~/lib/_app/Entries/addController.js"></script>
        <script src="~/lib/_app/Entries/entryController.js"></script>
        <script src="~/lib/_app/Entries/entryEditorController.js"></script>
        <script src="~/lib/_app/Entries/macroController.js"></script>
        <script src="~/lib/_app/Entries/createController.js"></script>
    </environment>
    <script src="~/lib/Chart.js/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/angular.chartjs/0.8.8/angular-chart.min.js"></script>
}

<div class="row" ng-app="appDiary">

        <div ng-view></div>

</div>
