@{
    ViewBag.Title = "Food Diary";
}
@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-strap/dist/angular-strap.min.js"></script>
    <script src="~/lib/angular-strap/dist/angular-strap.tpl.min.js"></script>
    <script src="~/js/appDiary.js"></script>
    <script src="~/js/searchController.js"></script>
    <script src="~/js/macroController.js"></script>
}

<div class="row" ng-app="appDiary">
    <div class="col-md-6">
        <h2>Food Search</h2>
        <div ng-controller="InstantSearchCtrl">
            <input ng-model="search" ng-model-options="{ debounce: 500 }" onclick="select()" class="form-control" type="text" placeholder="Search Food..."/>
            <span id="searchbar" class="fa fa-search"></span>
            <table class="table table-responsive table-striped">
                <tr ng-repeat="food in details">
                    <td class="hideId">{{ food.id }}</td>
                    <td>{{ food.description }}</td>
                    <td>
                        <i>Calories: </i> {{ food.calories }}
                    </td>
                    <td>
                        <i>Protein: </i> {{ food.proteinGrams }}g
                    </td>
                    <td>
                        <i>Carbohydrates: </i> {{ food.carbGrams }}g
                    </td>
                    <td>
                        <i>Fat: </i> {{ food.fatGrams }}g
                    </td>
                    <td>
                        <button type="button" class="btn btn-success btn-xs" ng-click="addFood(food.id)">
                            Add
                        </button>
                    </td>
                </tr>
            </table>
        </div>

        <div id="diaryMain">
            <h2>Food Diary</h2>
        </div>

    </div>

    <div class="col-md-5">
        <div id="macro" ng-controller="MacroController">

            <h2>Calories & Macronutrients</h2>

            <div id="piechart"></div>

            <div id="macroTable">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Calorie Goal</td>
                            <td>Consumed</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ profileMacros.calorieGoal }}</td>
                            <td>{{ consumed.calories }}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Macros</td>
                            <td>Goal</td>
                            <td>Consumed</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Carbohydrates</td>
                            <td>{{ profileMacros.carbGoal }}g</td>
                            <td>{{ consumed.carbs }}g</td>
                        </tr>
                        <tr>
                            <td>Protein</td>
                            <td>{{ profileMacros.proteinGoal }}g</td>
                            <td>{{ consumed.protein }}g</td>
                        </tr>
                        <tr>
                            <td>Fat</td>
                            <td>{{ profileMacros.fatGoal }}g</td>
                            <td>{{ consumed.fat }}g</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>
