@{
    ViewBag.Title = "Food Diary";
}
@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/js/simpleControls.js"></script>
    <script src="~/js/entry.js"></script>
    <script src="~/js/macro.js"></script>
    <script src="~/js/appDiary.js"></script>
    <script src="~/js/diaryTrackerService.js"></script>
    <script src="~/js/addController.js"></script>
    <script src="~/js/entryController.js"></script>
    <script src="~/js/entryEditorController.js"></script>
    <script src="~/js/macroController.js"></script>
    <script src="~/lib/Chart.js/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/angular.chartjs/0.8.8/angular-chart.min.js"></script>
}

<div class="row" ng-app="appDiary">

        <div ng-view></div>

</div>
