@{ 
    ViewBag.Title = "Home Page";
}
<div class="row">

    <div class="col-md-12">
        <h1>Welcome to LossTracker</h1>
        <p>This app will help you track your fitness and calorie goals</p>
        <a asp-controller="App" asp-action="entries" class="btn btn-lg btn-success">My Diary</a>
    </div>

</div>