@{ 
    ViewBag.Title = "Home";
}
<div class="row">

    <div class="col-md-12">
        <h1>Welcome to LossTracker</h1>
        <p>This is an app that helps you (or at least me!) track fitness and calorie goals.</p>
        <p>It was inspired in part after feeling bloated the day after Thanksgiving. I decided to lose some weight.</p>
        <p>I wanted a way to easily track my calories, macronutrients, and weight loss. I figured I could learn some new tech in the process!</p>
        <p>I created this app using C#/ASP.NET for server-side things, and AngularJS for the front end.</p>
        <p>Please visit my GitHub to see the source code for this app!</p>
        <a asp-controller="App" asp-action="Entries" class="btn btn-lg btn-primary">My Diary</a>
        <a href="https://github.com/ottoliar/LossTracker" class="btn btn-lg btn-primary">GitHub <i class="fa fa-github"></i></a>
    </div>

</div>