@{ 
    ViewBag.Title = "Home";
}
<div class="row">

    <div class="col-md-12">
        <h1>Welcome to LossTracker</h1>
        <h4>Demo username: ottoliar password: testP@ssw0rd</h4>
        <p>This is an app that helps you (or at least me!) track fitness and calorie goals.</p>
        <p>I created this app using C#/ASP.NET for server-side things, and AngularJS for the front end.</p>
        <p>Please visit my GitHub to see the source code for this app!</p>
        <a asp-controller="App" asp-action="Entries" class="btn btn-lg btn-primary">Calorie Tracker</a>
        <a href="https://github.com/ottoliar/LossTracker" class="btn btn-lg btn-primary">GitHub <i class="fa fa-github"></i></a>
    </div>

</div>