.headshot {
    max-width: 50px;
    border: 1px solid #222;
    padding: 3px;
}

.profileImage {
    border: 1px solid #222;
    padding: 3px;
    max-height: 150px;
}

.validation-summary-errors ul {
    list-style: none;
    margin-left: -40px;
    color: red;
}

.green {
    color: lightgreen;
}

.red {
    color: red;
}

.alert {
    color: slategray;
}

.hideId {
    display: none;
}

.menu {
    font-size: 12px;
}

.menu li {
    list-style-type: none;
}

.menu li.active {
    font-weight: bold;
}

thead tr td, .meal {
    color: coral;
}

input[type="submit"] {
    margin-bottom: 75px;
}

.rectangle {
    width: 550px;
    height: 310px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: grey;
}

#circle {
    width: 250px;
    height: 250px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    border-radius: 125px;
    background: grey;
}

#diaryMain {
    position: fixed;
}

#entryTable {
    max-height: 300px;
    overflow-y: scroll;
}

#resultsTable {
    max-height: 600px;
    overflow-y: scroll;
}

#entriesIndex {
    max-height: 500px;
    overflow-y: scroll;
}

#searchbar {
    float: right;
    margin-right: 6px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    color: coral;
}

#saveSubmit {
    margin-bottom: 0;
}

input[placeholder] {
    font-weight: bold;
    border-color: blue;
}

input[placeholder]:focus {
    border-color: coral;
}

#sidebar {
    background: #2a2c36;
    color: #eee;
    position: fixed;
    height: 100%;
    width: 250px;
    overflow: hidden;
    left: 0;
    margin: 0;
    -moz-transition: left ease .25s;
    -o-transition: left ease .25s;
    -webkit-transition: left ease .25s;
    transition: left ease .25s;
}

#wrapper {
    margin: 0 0 0 250px;
    -moz-transition: margin-left ease .25s;
    -o-transition: margin-left ease .25s;
    -webkit-transition: margin-left ease .25s;
    transition: margin-left ease .25s;
}

#sidebar.hide-sidebar {
    left: -250px;
    -moz-transition: left ease .25s;
    -o-transition: left ease .25s;
    -webkit-transition: left ease .25s;
    transition: left ease .25s;
}

#wrapper.hide-sidebar {
    margin-left: 0;
    -moz-transition: margin-left ease .25s;
    -o-transition: margin-left ease .25s;
    -webkit-transition: margin-left ease .25s;
    transition: margin-left ease .25s;
}