<div class="col-md-6">
    <h2>Weight</h2>
    <div ng-show="vm.noEntries">
        <center>
            <div class="rectangle"></div>
        </center>
    </div>
    <div ng-show="!vm.noEntries">
        <canvas id="lineWeight" class="chart chart-line" chart-options="vm.weightOptions"
                chart-data="vm.weightData" chart-labels="vm.weightChartLabels" chart-colours="vm.weightColours"></canvas>
    </div>
    <h2>All Measurements</h2>
    <div class="text-danger" ng-show="vm.error">{{ vm.error }}</div>

    <wait-cursor ng-show="vm.loadIsBusy"></wait-cursor>
    <div id="entryTable">
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <td>Date</td>
                    <td>Weight (Lbs)</td>
                    <td>Inches (Waist)</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="measurement in vm.measurements">
                    <td>
                       {{ measurement.created | date:'shortDate' }}
                    </td>
                    <td>
                       {{ measurement.weightLbs | number }}
                    </td>
                    <td>
                       {{ measurement.waistInches | number }}
                    </td>
                    <td>
                        <a href="/" class="btn btn-danger btn-xs">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <a href="/" style="color: mediumseagreen; text-decoration: none;">
                            Add <i class="fa fa-plus"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>